<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="alpha_blog.css">
<title><h1>This is ABOUT US Page</h1>
</title>
</head>

<body>

<div class="wrapper">

<div class="header">
<!-- <%= image_tag 'Logo.gif'%> -->

<%= link_to (image_tag 'Logo.gif'),url_for({:controller => 'pages', :action => 'home'})%>


</div>

<div class="rera">
<img src="rera.png" alt="rera" />
</div>


<div class="content">

<div class="content-bg">

<div class="content-left">

<div class="services">
<ul>
<span>Services</span>

<li>Sale</li>
<li>Rental</li>
<li>Lease</li>
<li>Management</li>
<li>Maintenence</li>
</ul>
</div>

<div class="types">
<ul>
<li><span>Types</span></li>
<li>Apartment</li>
<li>Villa</li>
<li>Town House</li>
<li>Shops</li>
<li>Offices</li>
</ul>
</div>

</div>


<div class="content-center">

<div class="sj">

<div id="main-inner"> 
    <div id="slider">
              <%= image_tag 'slider2.jpg' %>     
    </div>



<h1>THIS IS "ABOUT PAGE"</h1>



<%= link_to "Home", root_path %>






</div>
 
 </div>

 

</div>






</div>
</div>


<div class="content-right">

<div class="areas">

<ul>
<li><span>Areas</span></li>
<li>The Emirates Hill</li>
<li>Dubai Marina</li>
<li>JBR</li>
<li>JLT</li>
<li>Discovery Gardens</li>
<li>Down Town</li>
<li>International City</li>
</ul>
</div>

</div>

</div>




<div class="foot-border">
<p>hello</p>

<div class="footer">
  <div class="footer-upper">
    <ul>
      <li>About Us</li>
      <li>Customer Service</li>
      <li>Contact Us</li>
      <li>Policy</li>
      <li>Newsletter</li>
    </ul>
  </div>
  <div class="footer-lower"> 
  <%= image_tag 'paypal_logo.jpg'%> </div>
  
</div>


</div>

</div>


</body>
</html>
